@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@font-face {
    font-family: 'FiraGO';
    src: url('/fonts/FiraGO-Regular.woff2') format('woff2'),
         url('/fonts/FiraGO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FiraGO';
    src: url('/fonts/FiraGO-Bold.woff2') format('woff2'),
         url('/fonts/FiraGO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
body {
    font-family: "FiraGO", sans-serif !important;
}

.container1{
    margin-right: 120px;
    margin-left: 120px;
}

.header-logo-text{
    font-family: "Fredoka", sans-serif;
    font-size: 31px;
    font-weight: 600;
    color:#8338EC;
}

.button{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.header-button-1{
    margin-right: 40px;
    font-size: 15px !important;
    height: 40px;
    --bs-btn-color: black !important;
    --bs-btn-border-color: #8338EC !important;
    --bs-btn-hover-border-color: #B588F4 !important;
}

.header-button-2{
    font-size: 16px !important;
    height: 40px;
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #8338EC !important;
    --bs-btn-border-color: #8338EC !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #B588F4;
    --bs-btn-hover-border-color: #B588F4;
}

.title-text{
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 50px;
}

.dropdown1{
    background-color: #fff !important;
    border-radius: 10px !important;
    border: 1px solid #DEE2E6 !important;

}

.navbar-nav {
    display: flex;
    gap: 55px;
}

.navbar{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.navbar-nav .nav-link {
    color: black !important;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #8338EC !important;
}

.navbar-nav .nav-item.show .nav-link,
.navbar-nav .nav-link[aria-expanded="true"] {
    color: #8338EC !important;
}

.navbar-nav .nav-link.dropdown-toggle::after {
    display: none !important;
}

.navbar-nav .nav-item.dropdown .nav-link {
    position: relative;
    padding-right: 30px;
}

.navbar-nav .nav-item.dropdown .nav-link::before {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url('/images/icon.svg') no-repeat center center;
    background-size: contain;
    filter: brightness(0);
    transition: filter 0.2s ease-in-out;
}

.navbar-nav .nav-item.dropdown .nav-link:hover::before {
    filter: none;
}

.navbar-nav .nav-item.dropdown.show .nav-link::before {
    filter: none !important;
}
