@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@font-face {
    font-family: 'FiraGO';
    src: url('/fonts/FiraGO-Regular.woff2') format('woff2'),
         url('/fonts/FiraGO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FiraGO';
    src: url('/fonts/FiraGO-Bold.woff2') format('woff2'),
         url('/fonts/FiraGO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
body {
    font-family: "FiraGO", sans-serif !important;
}

.container1{
    margin-right: 120px;
    margin-left: 120px;
}

.header-logo-text{
    font-family: "Fredoka", sans-serif;
    font-size: 31px;
    font-weight: 600;
    color:#8338EC;
}

.button{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.header-button-1{
    margin-right: 40px;
    font-size: 15px !important;
    height: 40px;
    --bs-btn-color: black !important;
    --bs-btn-border-color: #8338EC !important;
    --bs-btn-hover-border-color: #B588F4 !important;
}

.header-button-2{
    font-size: 16px !important;
    height: 40px;
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #8338EC !important;
    --bs-btn-border-color: #8338EC !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #B588F4;
    --bs-btn-hover-border-color: #B588F4;
}

.title-text{
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 50px;
}

.dropdown1{
    background-color: #fff !important;
    border-radius: 10px !important;
    border: 1px solid #DEE2E6 !important;
    font-size: 16px !important;
}

.navbar-nav {
    display: flex;
    gap: 55px;
}

.navbar{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.navbar-nav .nav-link {
    color: black !important;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #8338EC !important;
}

.navbar-nav .nav-item.show .nav-link,
.navbar-nav .nav-link[aria-expanded="true"] {
    color: #8338EC !important;
}

.navbar-nav .nav-link.dropdown-toggle::after {
    display: none !important;
}

.navbar-nav .nav-item.dropdown .nav-link {
    position: relative;
    padding-right: 30px;
}

.navbar-nav .nav-item.dropdown .nav-link::before {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url('/images/icon.svg') no-repeat center center;
    background-size: contain;
    filter: brightness(0);
    transition: filter 0.2s ease-in-out;
}

.navbar-nav .nav-item.dropdown .nav-link:hover::before {
    filter: none;
}

.navbar-nav .nav-item.dropdown.show .nav-link::before {
    filter: none !important;
}

.nav-item {
    position: relative;
}

.dropdown-menu {
    padding: 10px;
    width: 599px !important;
    border-radius: 10px !important;
    border: 0.5px solid #8338EC !important;
    margin-top: 10px !important;
    left: 0 !important; 
    transform: translateX(-2%) !important;
}

#dropdown-menu2 {
    transform: translateX(-37.5%) !important;
}

#dropdown-menu3 {
    transform: translateX(-70.5%) !important;
}

.dropdown-menu.show {
    display: block !important;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    --bs-dropdown-link-active-bg: none;
}

.department-checkbox {
    display: none;
}

.department-checkbox + label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    color: #212529;
}

.department-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 1.5px solid #212529;
    border-radius: 3px;
    background-color: white;
}

.department-checkbox:checked + label::before {
    background-color: white;
    border-color: #212529;
    content: "✔";
    color: #212529;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
}

.priority-checkbox {
    display: none;
}

.priority-checkbox + label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    color: #212529;
}

.priority-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 1.5px solid #212529;
    border-radius: 3px;
    background-color: white;
}

.priority-checkbox:checked + label::before {
    background-color: white;
    border-color: #212529;
    content: "✔";
    color: #212529;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
}

.employee-checkbox {
    display: none;
    margin-right: 10px;
}

.employee-checkbox + label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    color: #212529;
}

.employee-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 1.5px solid #212529;
    border-radius: 3px;
    background-color: white;
}

.employee-checkbox:checked + label::before {
    background-color: white;
    border-color: #212529;
    content: "✔";
    color: #212529;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
}

.employee-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.dropdown-menu input,
.dropdown-menu label {
    cursor: pointer;
    user-select: none;
}

.dropdown-menu .button-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.btn-primary {
    background-color: #8338EC !important;
    border: none !important;
    width: 140px;
    height: 30px;
    border-radius: 20px !important;
    transition: background-color 0.3s ease !important;
}

.btn-primary:hover {
    background-color: #B588F4 !important;
}

.selected-filters-container {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.selected-filters {
    margin-top: 20px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.selected-filters {
    margin-top: 20px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.filter-capsule {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #CED4DA;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 16px;
    height: 30px;
    color: #495057;
}

.filter-capsule.hidden {
    display: none;
}

.hidden {
    display: none;
}

.filter-text {
    padding-right: 5px;
}

.remove-filter {
    cursor: pointer;
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.clear-filters {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #343A40;
    cursor: pointer;
    padding: 5px 10px;
    white-space: nowrap;
}

.task-statuses {
    margin-top: 50px;
    display: flex;
    width: 100%;
    gap: 30px;
}

.task-status {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

.status-1 { background-color: #F7BC30; }
.status-2 { background-color: #FB5607; }
.status-3 { background-color: #FF006E; }
.status-4 { background-color: #3A86FF; } 

.task-board {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    margin-bottom: 30px;
}

.task-column {
    flex: 1;
    min-width: 250px;
    border-radius: 10px;
}

.column-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.task-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    padding: 15px 20px;
    margin-top: 30px;
    border-radius: 15px;
    color: black;
    font-size: 14px;
}

.task-card-status-1 { border: 1px solid #F7BC30; }
.task-card-status-2 { border: 1px solid #FB5607; }
.task-card-status-3 { border: 1px solid #FF006E; }
.task-card-status-4 { border: 1px solid #3A86FF; } 

.task-card-header {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.task-priority-1 {
    color: #08A508;
    border: 0.5px solid #08A508;
    padding: 4px 7px;
    border-radius: 5px;
    margin-right: 10px;
}

.task-priority-2 {
    color: #FFBE0B;
    border: 0.5px solid #FFBE0B;
    padding: 4px 7px;
    border-radius: 5px;
    margin-right: 10px;
}

.task-priority-3 {
    color: #FA4D4D;
    border: 0.5px solid #FA4D4D;
    padding: 4px 7px;
    border-radius: 5px;
    margin-right: 10px;
}

.task-department-box {
    text-align: center;
    color: white;
    border-radius: 15px;
    padding: 5px 0;
    width: 100px;
}

.task-department-1 {background-color: #fd6a6a;}
.task-department-2 {background-color: #fa66ff;}
.task-department-3 {background-color: #3683ff;}
.task-department-4 {background-color: #FD9A6A;}
.task-department-5 {background-color: #89B6FF;}
.task-department-6 {background-color: #FFD86D;}
.task-department-7 {background-color: #FF66A8;}

.date {
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    margin-left: auto;
}

.task-card-body {
    padding: 0 5px;
}

.task-title {
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
}

.task-description {
    color: #343A40;
    font-size: 14px;
}

.task-card-footer {
    justify-content: flex-end;
}

.task-employee-avatar {
    border-radius: 50%;
    height: 31px;
    width: 31px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
}

.modal-header-employee {
    height: 50px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.modal-body-employee {
    position: relative;
    padding: 0 10px;
}

.modal-name {
    margin-top: 30px;
    display: flex;
    gap: 40px;
    width: 100%;
}

.modal-name div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.modal-name label {
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-name input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-title-add {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    align-items: center;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.avatar-container label {
    font-weight: bold;
    margin-bottom: 8px;
}
  
.avatar-upload {
    width: 100%;
    height: 120px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.avatar-preview {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.avatar-preview img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
  
.remove-avatar {
    position: absolute;
    top: 80%;
    right: 50%;
    background: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: none;
    height: 20px;
}  
  
.modal-department {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-department label {
    font-weight: bold;
    margin-bottom: 8px;
}

.modal-backdrop {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(5px) !important;
    z-index: 1000 !important;
}

.employee-modal {
    margin-top: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 913px;
    height: 766px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.employee-modal form {
    display: flex;
    flex-direction: column;
}

.employee-modal form input,
.employee-modal form select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-actions button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.modal-actions button:last-child {
    margin-top: 30px;
    border-radius: 5px;
    background: #8338EC;
    color: white;
}
